.fade-in, .fade-in-left, .fade-in-right, .fade-in-up, .fade-in-down {
    opacity: 0;
    visibility: hidden;
}

.fade-up{
    transform: translateY(30px);
    transition: transform 0.3s ease;

    &.active{
        transform: translateY(0);
    }
}

.reveal-text {
    position: relative;
    overflow: hidden;
    
    .reveal {
        display: inline-block;
        transform: translateY(100%);
    }
}