.header{
    background-color: $color-black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: ease 0.5s;

    &~.plank-spacing{
        height: 163px;
        background-color: $color-black;

        @media (max-width: 768px){
            height: 88px;
        }
    }

    &-wrapper{
        &__top{
            padding: 16px 64px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);

            @media (max-width: 768px){
                padding: 15px 20px;
                position: relative;
                height: 88px;
            }
        }

        &__left{

            @media (max-width: 768px){
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            
            img{
                width: 130px;
                height: 56px;
                object-fit: contain;
            }
        }

        &__right{
            gap: 32px;

            @media (max-width: 768px){
                justify-content: space-between;
                width: 100%;
            }
        }

        &__translate{
            ul{
                list-style: none;
                gap: 8px;
                line-height: 150%;
                color: $gray-color;

                @media (max-width: 768px){
                    padding-left: 0;
                }

                li{
                    cursor: pointer;
                    transition: all 0.4s ease;

                    &:hover{
                        color: $color-white;
                    }

                    &.active{
                        color: $color-white;
                    }
                }
            }
        }

        &__form{
            @media (max-width: 768px){
                margin-top: 32px;
            }

            input{
                padding: 8px 12px;
                height: 40px;
                color: $color-white;
                background-color: rgba(255, 255, 255, 0.20);
                border-radius: 4px 0 0 4px;
                border: none;
                outline: none;
                box-shadow: unset;
                min-width: 340px;

                @media (max-width: 992px){
                    min-width: 280px;
                }

                &::placeholder{
                    color: $color-neutral;
                }
            }

            button{
                background-color: $primary-color;
                height: 40px;
                width: 40px;
                border-radius: 0 4px 4px 0;
                overflow: hidden;
                transition: all 0.4s ease;

                &:hover{
                    background-color: $secondary-color;
                }

                svg{
                    width: 18px;
                    height: 18px;
                }
            }
        }

        &__hambuger{
            &.btn-toggle{
                cursor: pointer;
                padding: 0;
                border: none;
                position: relative;
                outline: none;
                box-shadow: unset;
                background-color: transparent;
          
                .line{
                  width: 22px;
                  height: 2px;
                  background-color: #ecf0f1;
                  display: block;
                  margin: 5px auto;
                  -webkit-transition: all 0.4s ease-in-out;
                  -o-transition: all 0.4s ease-in-out;
                  transition: all 0.4s ease-in-out;
                }
          
                &.is-active{
                  .line{
                    &:nth-child(2){
                      opacity: 0;
                    }
          
                    &:nth-child(1){
                      -webkit-transform: translateY(7px) rotate(45deg);
                      -ms-transform: translateY(7px) rotate(45deg);
                      -o-transform: translateY(7px) rotate(45deg);
                      transform: translateY(7px) rotate(45deg);
                    }
          
                    &:nth-child(3){
                      -webkit-transform: translateY(-7px) rotate(-45deg);
                      -ms-transform: translateY(-7px) rotate(-45deg);
                      -o-transform: translateY(-7px) rotate(-45deg);
                      transform: translateY(-7px) rotate(-45deg);
                    }
                  }
                }
              }
        }

        &__bottom{
            padding: 12px 64px;

            @media (max-width: 768px){
                padding: 24px 20px;
                height: calc(100dvh - 88px);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start !important;
                justify-content: flex-start !important;
                transform: translateX(100%);
                transition: all 0.6s ease;
                background-color: $color-black;

                position: absolute;
                top: 100%;
                right: 0;
            }

            &.show{
                transform: translateX(0);
            }

            .menu-list{
                list-style: none;
                gap: 32px;

                @media (max-width: 768px){
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start !important;
                }

                li{
                    &.active{
                        a{
                            color: $primary-color;
                        }
                    }
                    
                    a{
                        color: $color-white;
                        font-weight: bold;
                        transition: all 0.4s ease;
                        padding: 10px 0;

                        &:hover{
                            color : $primary-color;
                        }
                    }
                }
            }

            .menu-button{
                gap: 16px;

                @media (max-width: 768px){
                    margin-top: 32px;
                }
            }
        }
    }
}