.section-portfolio{
    background-color: $color-earthy;
    
    .title{
        @include typo($font-primary-bold, 40px, 700, 120%, $color-black);
        margin-bottom: 120px;
        max-width: 60%;

        @media (max-width: 992px){
            max-width: 80%;
        }

        @media (max-width: 768px){
            margin-bottom: 20px;
            font-size: 32px;
            max-width: 100%;
            margin-bottom: 48px;
        }

        span{
            color: $primary-color;
        }
    }

    &__number{
        list-style: none;
        row-gap: 32px;

        @media (max-width: 768px){
            gap: 24px;
        }

        .number__item{
            padding-left: 32px;

            .number{
                font-size: 120px;
                line-height: 130%;
                color: $primary-color;
                height: 156px;

                display: flex;
                overflow: hidden;
                align-items: center;

                @media (max-width: 768px){
                    height: 103px;
                    font-size: 80px;
                }
                
                & > span{
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    transition: transform 2s ease;
                    transform: translateY(0);
                    line-height: 1;

                    span{
                        flex: 0 0 100%;
                        height: 100%;
                    }
                }

                &:nth-child(1) > span{
                    transition-delay: 0s;
                }

                &:nth-child(2) > span{
                    transition-delay: 0.2s;
                }
            }

            .text{
                font-size: 24px;
                font-weight: 700;
                font-family: $font-primary-bold;
                line-height: 140%;
                color: $gray-color;
            }
        }
    }

    &__cta{
        margin-top: 64px;
    }
}