$font-primary : "Axiforma", sans-serif;

$text-color : #4F5665;
$heading-color : #0B132A;
$primary-color : #B70004;
$secondary-color: #890003;
$gray-color : #444444;
$color-neutral: #666666;
$color-earthy: #F1EEE8;
$color-gray-lighter: #CCCCCC;
$color-granite: #52585A;

$color-white : #FFF;
$color-black : #000;
