html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Axiforma", sans-serif;
  font-size: 16px;
  line-height: 150%;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Axiforma", sans-serif;
}

.section-wrapper {
  padding: 96px 64px;
}
@media (max-width: 768px) {
  .section-wrapper {
    padding: 64px 20px;
  }
}

.section-title {
  font-family: "Axiforma", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: #000;
}
.section-title span {
  color: #B70004;
}

.btn-custom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: max-content;
  font-family: "Axiforma", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #FFF;
  padding: 12px 18px 10px;
  border-radius: 100px;
  transition: all 0.4s ease;
}
.btn-custom.btn--secondary {
  background-color: rgba(255, 255, 255, 0.2);
}
.btn-custom.btn--secondary:hover {
  background-color: #FFF;
  color: #000;
}
.btn-custom.btn--primary {
  background-color: #B70004;
  color: #FFF;
}
.btn-custom.btn--primary:hover {
  background-color: #890003;
}
.btn-custom.btn--third {
  color: #000;
  border: 1px solid #CCCCCC;
}
.btn-custom.btn--third:hover {
  color: #FFF;
  background-color: #000;
}

.link-hover {
  position: relative;
}
.link-hover::after, .link-hover::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background-color: transparent;
  transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.link-hover::before {
  left: 0;
}
.link-hover::after {
  background-color: #FFF;
  right: 0;
  transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.link-hover:hover::before {
  width: 100%;
  background-color: #FFF;
  transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.link-hover:hover::after {
  background-color: transparent;
  width: 100%;
  transition: 0s;
}
.section-desc {
  font-family: "Axiforma", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 100%;
  color: #FFF;
  text-align: center;
}
@media (max-width: 768px) {
  .section-desc {
    font-size: 14px;
  }
}

.fade-in, .fade-in-left, .fade-in-right, .fade-in-up, .fade-in-down {
  opacity: 0;
  visibility: hidden;
}

.fade-up {
  transform: translateY(30px);
  transition: transform 0.3s ease;
}
.fade-up.active {
  transform: translateY(0);
}

.reveal-text {
  position: relative;
  overflow: hidden;
}
.reveal-text .reveal {
  display: inline-block;
  transform: translateY(100%);
}

.header {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: ease 0.5s;
}
.header ~ .plank-spacing {
  height: 163px;
  background-color: #000;
}
.header-wrapper__top {
  padding: 16px 64px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 768px) {
  .header-wrapper__top {
    padding: 15px 20px;
  }
}
.header-wrapper__left img {
  width: 130px;
  height: 56px;
  object-fit: contain;
}
.header-wrapper__right {
  gap: 32px;
}
.header-wrapper__translate ul {
  list-style: none;
  gap: 8px;
  line-height: 150%;
  color: #444444;
}
.header-wrapper__translate ul li {
  cursor: pointer;
  transition: all 0.4s ease;
}
.header-wrapper__translate ul li:hover {
  color: #FFF;
}
.header-wrapper__translate ul li.active {
  color: #FFF;
}
.header-wrapper__form input {
  padding: 8px 12px;
  height: 40px;
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  box-shadow: unset;
  min-width: 340px;
}
@media (max-width: 992px) {
  .header-wrapper__form input {
    min-width: 280px;
  }
}
.header-wrapper__form input::placeholder {
  color: #666666;
}
.header-wrapper__form button {
  background-color: #B70004;
  height: 40px;
  width: 40px;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
  transition: all 0.4s ease;
}
.header-wrapper__form button:hover {
  background-color: #890003;
}
.header-wrapper__form button svg {
  width: 18px;
  height: 18px;
}
.header-wrapper__bottom {
  padding: 12px 64px;
}
@media (max-width: 768px) {
  .header-wrapper__bottom {
    padding: 10px 20px;
  }
}
.header-wrapper__bottom .menu-list {
  list-style: none;
  gap: 32px;
}
.header-wrapper__bottom .menu-list li.active a {
  color: #B70004;
}
.header-wrapper__bottom .menu-list li a {
  color: #FFF;
  font-weight: bold;
  transition: all 0.4s ease;
  padding: 10px 0;
}
.header-wrapper__bottom .menu-list li a:hover {
  color: #B70004;
}
.header-wrapper__bottom .menu-button {
  gap: 16px;
}

.section-banner .content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.section-banner .content-wrapper__content {
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 64px;
  transform: translateY(-50%);
  z-index: 2;
  transition: opacity 0.8s ease-in-out;
  opacity: 0;
}
@media (max-width: 1200px) {
  .section-banner .content-wrapper__content {
    max-width: 55%;
  }
}
@media (max-width: 992px) {
  .section-banner .content-wrapper__content {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  .section-banner .content-wrapper__content {
    left: 20px;
    max-width: calc(100% - 40px);
  }
}
.section-banner .content-wrapper__background {
  position: relative;
}
.section-banner .content-wrapper__background .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.section-banner .content-wrapper__background .embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-banner .content-wrapper .title {
  font-size: 48px;
  line-height: 120%;
  font-weight: bold;
  margin-bottom: 16px;
  color: #FFF;
}
.section-banner .content-wrapper .desc {
  font-size: 18px;
  line-height: 150%;
  color: #FFF;
  opacity: 0.7;
  margin-bottom: 24px;
}
.section-banner .content-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 79.5%, #000 98.33%);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.section-banner .content-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(116.58% 94.51% at 97.03% 54.74%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 47.51%, #000 86.11%);
  position: absolute;
  top: 0;
  left: 0;
}
.section-banner .splide__slide {
  height: calc(100vh - 160px);
}
.section-banner .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.section-banner .splide__slide.is-active .content-wrapper__content {
  opacity: 1;
}
.section-banner .splide__pagination {
  display: none;
}

.section-portfolio {
  background-color: #F1EEE8;
}
.section-portfolio .title {
  font-family: "Axiforma", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: #000;
  margin-bottom: 120px;
  max-width: 60%;
}
@media (max-width: 992px) {
  .section-portfolio .title {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  .section-portfolio .title {
    margin-bottom: 20px;
  }
}
.section-portfolio .title span {
  color: #B70004;
}
.section-portfolio__number {
  list-style: none;
  row-gap: 32px;
}
.section-portfolio__number .number__item {
  padding-left: 32px;
}
.section-portfolio__number .number__item .number {
  font-size: 120px;
  line-height: 130%;
  color: #B70004;
}
.section-portfolio__number .number__item .text {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  color: #444444;
}

.section-blog {
  background-image: url("../assets/bg-blog.png");
  background-size: 70% auto;
  background-position: bottom left;
  background-repeat: no-repeat;
}
.section-blog .section-title {
  max-width: 50%;
  margin: 0 auto 80px;
}
@media (max-width: 992px) {
  .section-blog .section-title {
    max-width: 80%;
  }
}
.section-blog__cta {
  margin-top: 64px;
}
.section-blog__cta a {
  margin: 0 auto;
}
.section-blog__list {
  margin: 0 -16px;
  row-gap: 32px;
}
.section-blog .blog__item {
  list-style: none;
  padding: 0 16px;
}
.section-blog .blog__item .item {
  border-radius: 8px;
  overflow: hidden;
}
.section-blog .blog__item .item:hover .item-image img {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(0) rotate(0) skewX(0) skewY(0) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.section-blog .blog__item .item:hover .item-title {
  text-decoration: underline;
}
.section-blog .blog__item .item-tag {
  padding: 24px;
  font-family: "Axiforma", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  color: #000;
}
.section-blog .blog__item .item-image {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}
.section-blog .blog__item .item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 0.5s;
}
.section-blog .blog__item .item-info {
  padding: 24px;
}
.section-blog .blog__item .item-title {
  font-family: "Axiforma", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  color: #000;
  display: block;
  margin-bottom: 16px;
  transition: all 0.4s ease;
}
.section-blog .blog__item .item-desc {
  font-family: "Axiforma", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #52585A;
}

.section-team {
  background-color: #F1EEE8;
}
.section-team .section-title {
  max-width: 55%;
  margin: 0 auto 80px;
}
@media (max-width: 992px) {
  .section-team .section-title {
    max-width: 80%;
  }
}
.section-team .team__item .item {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.section-team .team__item .item-image {
  width: 100%;
  aspect-ratio: 310/407;
}
.section-team .team__item .item-content {
  padding: 24px 0;
  background-color: #444444;
  position: absolute;
  transform: translateY(100%);
  transition: all 0.4s ease;
  bottom: 0;
  width: 100%;
  left: 0;
}
.section-team .team__item .item-name {
  font-family: "Axiforma", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  color: #FFF;
}
.section-team .team__item .item-info {
  font-family: "Axiforma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #AAAAAA;
}
.section-team .team__item .item:hover .item-content {
  transform: translate(0);
}
.section-team__list {
  list-style: none;
  row-gap: 30px;
}
.section-team__cta {
  margin-top: 64px;
}
.section-team__cta a {
  margin: 0 auto;
}

.section-info {
  background-image: url("../assets/bg-info.png");
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .section-info .section-wrapper {
    flex-direction: column;
  }
}
.section-info__image {
  width: 55%;
  aspect-ratio: 697/608;
  border-radius: 12px;
  overflow: hidden;
  flex: 0 0 55%;
}
@media (max-width: 768px) {
  .section-info__image {
    width: 100%;
    max-height: 330px;
  }
}
.section-info__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-info__content {
  padding-left: 80px;
  flex: 1;
}
@media (max-width: 992px) {
  .section-info__content {
    padding-left: 32px;
  }
}
@media (max-width: 768px) {
  .section-info__content {
    padding-left: 0;
    margin-top: 48px;
  }
}
.section-info__content .desc {
  font-family: "Axiforma", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #444444;
  margin-top: 24px;
}
.section-info__content a {
  margin-top: 40px;
}

.section-cta {
  background-image: url("../assets/CTA.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.section-cta::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.section-cta .section-wrapper {
  position: relative;
  z-index: 1;
}
.section-cta .title {
  font-family: "Axiforma", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  color: #FFF;
  margin-bottom: 80px;
  max-width: 55%;
}
@media (max-width: 992px) {
  .section-cta .title {
    max-width: 80%;
  }
}

.footer {
  background-color: #F1EEE8;
}
.footer .section-wrapper {
  padding: 80px 64px;
}
@media (max-width: 768px) {
  .footer .section-wrapper {
    padding: 64px 20px;
  }
}
.footer-logo {
  width: 130px;
  padding: 8px 0;
}
.footer-info {
  margin-top: 40px;
}
.footer-info__item:not(:last-child) {
  margin-bottom: 24px;
}
.footer-info__item span {
  font-family: "Axiforma", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #444444;
  margin-bottom: 4px;
  display: block;
}
.footer-info__item ul {
  padding-left: 0;
  list-style: none;
  font-family: "Axiforma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #444444;
}
.footer-info__item ul a {
  text-decoration: underline;
  transition: all 0.4s ease;
  color: #444444;
}
.footer-info__item ul a:hover {
  color: #B70004;
}
.footer-menu .menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  list-style: none;
}
.footer-menu .menu .menu-item > a {
  font-family: "Axiforma", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #666666;
  margin-bottom: 12px;
  display: block;
  transition: all 0.4s ease;
}
.footer-menu .menu .menu-item > a:hover {
  color: #B70004;
}
.footer-menu .menu ul {
  list-style: none;
}
.footer-menu .menu ul li:not(:last-child) {
  margin-bottom: 12px;
}
.footer-menu .menu ul a {
  font-family: "Axiforma", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #000;
  text-decoration: none;
  transition: all 0.4s ease;
}
.footer-menu .menu ul a:hover {
  color: #B70004;
}
.footer-social {
  margin-top: 24px;
}
.footer-social ul {
  list-style: none;
  gap: 24px;
}
.footer-social ul a svg {
  transition: all 0.4s ease;
}
.footer-social ul a:hover svg path {
  fill: #000;
}
.footer-contact {
  margin-top: 40px;
}
.footer-contact .title {
  font-family: "Axiforma", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #444444;
  margin-bottom: 16px;
}
.footer-contact form input {
  border-radius: 4px;
  overflow: hidden;
  background-color: #FFF;
  font-family: "Axiforma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #000;
  outline: none;
  box-shadow: unset;
  border: none;
  padding: 12px 12px 10px;
  height: 48px;
  min-width: 348px;
}
.footer-contact form input::placeholder {
  color: #666666;
}
.footer-contact form button {
  border-radius: 4px;
  overflow: hidden;
  background-color: #B70004;
  width: 48px;
  height: 48px;
  transition: all 0.4s ease;
}
.footer-contact form button:hover {
  background-color: #890003;
}
.footer-contact form button svg {
  width: 18px;
  height: 18px;
}
.footer-contact span {
  display: block;
  margin-top: 16px;
  font-family: "Axiforma", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: #444444;
}
.footer-contact span a {
  text-decoration: underline;
  color: #000;
  transition: all 0.4s ease;
}
.footer-contact span a:hover {
  color: #B70004;
}
@media (max-width: 992px) {
  .footer-top {
    row-gap: 24px;
  }
}
.footer-top__right {
  padding-left: 52px;
}
@media (max-width: 992px) {
  .footer-top__right {
    padding-left: 15px;
  }
}
.footer-bottom {
  padding-top: 32px;
  border-top: 1px solid #AAA;
  margin-top: 80px;
}
.footer-bottom ul {
  list-style: none;
  gap: 24px;
}
.footer-bottom ul a {
  font-family: "Axiforma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #000;
  text-decoration: none;
  text-decoration: underline;
  transition: all 0.4s ease;
}
.footer-bottom ul a:hover {
  color: #B70004;
}

/*# sourceMappingURL=main.css.map */
